Hallo,

soeben wurde das Zurücksetzen des Passworts für Deinen Account auf Tapeinos, dem Messdienerportal beantragt. Wenn Du Dein Passwort ändern möchtest, klicke innerhalb der nächsten 24 Stunden bitte auf diesen Link oder kopiere ihn in Deinen Browser:

= @forgot_password_link

Solltest Du nicht ein neues Passwort beantragt haben, ignoriere diese E-Mail bitte. Dein Passwort wird sich nicht ändern.

Beste, automatisch generierte Grüße aus der Serverfarm
Matthias
