%p Hallo,

%p soeben wurde das Zurücksetzen des Passworts für Deinen Account auf Tapeinos, dem Messdienerportal beantragt. Wenn Du Dein Passwort ändern möchtest, klicke innerhalb der nächsten 24 Studnen bitte auf diesen Link oder kopiere ihn in Deinen Browser:
%p= link_to @forgot_password_link, @forgot_password_link

%p Solltest Du nicht ein neues Passwort beantragt haben, ignoriere diese E-Mail bitte. Dein Passwort wird sich nicht ändern.

%p Beste, automatisch generierte Grüße aus der Serverfarm
%p Matthias
