%p Hallo,

%p soeben wurde das Passwort für Deinen Account auf Tapeinos, dem Messdienerportal, verändert. Wenn Du dies nicht getan haben solltest, melde Dich bitte umgehend bei mir und versuche Dein Passwort auf der Seite zu ändern (über die Schaltfläche „Passwort vergessen“ auf der Login-Seite). Jemand hat sich nun offenbar Zutritt zu Deinem Benutzer verschafft.

%p Andernfalls ignoriere diese E-Mail bitte. Dein neues Passwort wurde erfolgreich gespeichert.

%p Beste, automatisch generierte Grüße aus der Serverfarm
%p= SettingsHelper.get(:email_name)
