Hallo,

soeben hast Du Deinen Benutzer auf Tapeinos, dem Messdienerportal, gelöscht. Somit kannst Du Dich in Zukunft wieder nur mit Deinem personalisierten Link in die Pläne eintragen. Dein neuer Link lautet:

= @login_link

Solltest Du Deinen Benutzer nicht gelöscht haben, wende Dich bitte an mich. Ansonsten kannst Du Dir jederzeit wieder einen neuen Benutzer erstellen.

Beste, automatisch generierte Grüße aus der Serverfarm
= SettingsHelper.get(:email_name)
