Hallo,

soeben hast Du Dir unter dieser E-Mail-Adresse einen Acount für Tapeinos, das Messdienerportal erstellt. Dafür wurde Dir ein Kennwort automatisch generiert, sodass Deine Zugangsdaten nun wie folgt lauten:

E-Mail-Adresse:
= @email

Passwort:
= @password

Beachte bitte, dass sich der Benutzer jederzeit problemlos wieder löschen lässt.

Beste, automatisch generierte Grüße aus der Serverfarm
Matthias
