%p Hallo,

%p soeben hast Du Dir unter dieser E-Mail-Adresse einen Acount für Tapeinos, das Messdienerportal erstellt. Dafür wurde Dir ein Kennwort automatisch generiert, sodass Deine Zugangsdaten nun wie folgt lauten:

%p
  %strong E-Mail-Adresse:
  = @email
%p
  %strong Passwort:
  = @password

%p Beachte bitte, dass sich der Benutzer jederzeit problemlos wieder löschen lässt.

%p Beste, automatisch generierte Grüße aus der Serverfarm
%p= SettingsHelper.get(:email_name)
