Hallo,

soeben hast Du Dir neue Sicherheitscodes generieren lassen, mit denen Du Dich bei Tapeinos, dem Messdienerportal einloggen kannst. Deshalb wurde Dir auch ein neuer, persönlicher Link generiert:

= link_to @seed_link, @seed_link

Bitte behalte den Link geheim. Mit ihm kannst Du Dich auch in Zukunft in die Pläne eintragen, bekommst ihn aber zwischendurch neu geschickt.

Beste, automatisch generierte Grüße aus der Serverfarm
= SettingsHelper.get(:email_name)
