= panel title: t('defaults.register.title'), context: :primary do
  .panel-body
    = simple_format t('defaults.register.body')
    = btn_link_to t('defaults.register.submit'), register_path, context: :primary
