/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require dataTables.bootstrap
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets'
@import 'bootstrap'
@import 'bootstrap-chosen-variables'
@import 'bootstrap-chosen'
@import 'bootstrap-datetimepicker'

/* Make the tau in Tapeinos slightly bigger to match rest of the text. */
.tap-tau
  font-size: 110%
  line-height: 0

/* A small padding assures, that the content isn't cut off right at the bottom. */
body
  padding: 70px 0

/*
 * Expands a column in a table to maximize taken space. All other columns should be set to nowrap.
 */
.col-expand
  width: 100%

/*
 * If java-script is enabled, .table-rows-checkbox toggles checkboxes by clicking on the row and .table-rows-link triggers a contained link.
 * This gives a visual feedback to the user, that he is able to do this.
 */
.js-enabled
  .table-rows-checkbox,
  .table-rows-link
    tr
      cursor: pointer

/*
 * This definitions ensure, that the 100%-width form-control-style is overwritten for fields that
 * don't require such exceptional width.
 */
select.date,
select.datetime,
input[type="number"],
input[type="date"],
input[type="datetime"]
  display: inline
  width: auto

/* Contracts a form-control to a very small width. Ideal for tables. */
.min-control
  width: 5em !important

/* The server-changer allows a user to change the currently available server. It merges with the button for collapsing the menubar on small screens. */
// See: shared/_menu.html.haml
@media (min-width: $screen-sm-min)

  /* This ensures, that the button has rounded borders if the neighbour is not shown. */
  .serverchanger-btn
    border-top-right-radius: $border-radius-base !important
    border-bottom-right-radius: $border-radius-base !important

  /* This hides the button for collapsing the nav on large(r) screens. */
  .serverchanger-menu
    display: none

/* Whenever the menu is expanded, the button should be similar to an active one. */
.serverchanger-menu:not(.collapsed)
  @extend .active

/* The logo on the about-page is displayed nicely with a subtle background. */
.about-logo
  width: 100px
  height: 100px
  background: $gray-lighter
  font-size: 420%
  margin: 40px auto 20px

/* Simple class to make elements monospaced. */
.text-code
  font-family: $font-family-monospace

/* Add a small top- and bottom-margin to elements. Mainly practical for grids that change column-number on different sizes. */
.small-gutter
  margin: 7px 0

/* Prevents data-tables without sorting to add the space for the sorting-button. */
th.sorting_disabled
  padding-right: $table-cell-padding !important

/* Simple style for search-fields. */
.search-group
  margin-bottom: 10px

/* Empty progressbar should display a centered label, non-empty one should always display it. */
.progress-bar
  &:not(.empty)
    min-width: 3em

  &.empty
    color: inherit
    text-align: center
    width: 100% !important
    background: none
    box-shadow: none

/* This position is needed for the bootstrap-datetimepicker to display properly. */
#events-table-parent
  position: relative

/* The text-inputs in that table get really small on mobile if not fixed like this. */
#events-table input[type=text]
  width: auto

/* Fixing border inside of panel */
pre.panel-body
  background: none
  border: none
