/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Make the tau in Tapeinos slightly bigger to match rest of the text. */
.tap-tau
  font-size: 120%
  line-height: 0

/* A small padding assures, that the content isn't cut off right at the bottom. */
body
  padding-bottom: 70px

/*
 * If only a specific amount of columns should expand automagically, this is the way to go:
 * .table-cols-contract is applied to the containing table, .col-expand to the expanding column.
 */
.table-cols-contract
  td,
  th
    width: 1%
    white-space: nowrap

  .col-expand
    width: 100%
    white-space: normal

/*
 * If java-script is enabled, .table-rows-checkbox toggles checkboxes by clicking on the row.
 * This gives a visual feedback to the user, that he is able to do this.
 */
.js-enabled .table-rows-checkbox tr
  cursor: pointer

/*
 * This definitions ensure, that the 100%-width form-control-style is overwritten for fields that
 * don't require such exceptional width.
 */
%inline-input
  display: inline
  width: auto
select.date
  @extend %inline-input
  margin-right: 10px
input[type="number"]
  @extend %inline-input
